<?xml version="1.0" encoding="UTF-8"?>
<!--
  applicationHost.config – IIS global configuration overlay
  Deploy to: %SystemRoot%\System32\inetsrv\config\applicationHost.config
  (Merge relevant sections into the existing file; do NOT replace the entire file.)

  Sections covered:
    - Global process model defaults
    - Application pool defaults
    - Site defaults (logging, limits)
    - HTTP protocol (keep-alive, compression)
    - Security (request filtering)
-->
<configuration>

  <system.applicationHost>

    <!-- ── Process Model Defaults ── -->
    <applicationPools>
      <applicationPoolDefaults managedRuntimeVersion="v4.0" managedPipelineMode="Integrated">
        <processModel
          identityType="ApplicationPoolIdentity"
          idleTimeout="00:20:00"
          maxProcesses="1"
          pingingEnabled="true"
          pingInterval="00:00:30"
          pingResponseTime="00:01:30"
          shutdownTimeLimit="00:01:30"
          startupTimeLimit="00:01:30"
        />
        <recycling>
          <periodicRestart time="1.05:00:00" />   <!-- Recycle every 29 hours -->
          <logEventOnRecycle>Time,Requests,Schedule,Memory,IsapiUnhealthy,OnDemand,ConfigChange,PrivateMemory</logEventOnRecycle>
        </recycling>
        <failure
          rapidFailProtection="true"
          rapidFailProtectionInterval="00:05:00"
          rapidFailProtectionMaxCrashes="5"
          autoShutdownExe=""
        />
        <cpu action="NoAction" resetInterval="00:05:00" />
      </applicationPoolDefaults>
    </applicationPools>

    <!-- ── Site Defaults ── -->
    <sites>
      <siteDefaults>
        <logFile
          logFormat="W3C"
          directory="%SystemDrive%\inetpub\logs\LogFiles"
          period="Daily"
          truncateSize="10485760"
          localTimeRollover="true"
          logExtFileFlags="Date,Time,ClientIP,UserName,SiteName,ComputerName,ServerIP,Method,UriStem,UriQuery,HttpStatus,BytesSent,BytesRecv,TimeTaken,ServerPort,UserAgent,Cookie,Referer,ProtocolVersion,Host,HttpSubStatus"
        />
        <limits connectionTimeout="00:02:00" maxBandwidth="4294967295" maxConnections="4294967295" />
        <traceFailedRequestsLogging enabled="true" directory="%SystemDrive%\inetpub\logs\FailedReqLogFiles" maxLogFiles="50" />
      </siteDefaults>

      <applicationDefaults applicationPool="WinServer2025Pool" />

      <virtualDirectoryDefaults allowSubDirConfig="true" />
    </sites>

    <!-- ── Worker Process ── -->
    <webLimits connectionTimeout="00:02:00"
               dynamicIdleThreshold="0"
               headerWaitTimeout="00:00:30"
               minBytesPerSecond="240" />

  </system.applicationHost>

  <!-- ── HTTP Protocol ── -->
  <system.webServer>

    <httpProtocol>
      <keepAlive enabled="true" />
    </httpProtocol>

    <!-- Compression mime types -->
    <httpCompression
      directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files"
      doDynamicCompression="true"
      doStaticCompression="true"
      dynamicCompressionDisableCpuUsage="90"
      dynamicCompressionEnableCpuUsage="50"
      noCompressionForHttp10="true"
      noCompressionForProxies="false"
      sendCacheHeaders="false"
      staticCompressionDisableCpuUsage="100"
      staticCompressionEnableCpuUsage="50"
    >
      <scheme name="gzip"    dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*"                    enabled="true" />
        <add mimeType="message/*"                 enabled="true" />
        <add mimeType="application/x-javascript"  enabled="true" />
        <add mimeType="application/javascript"    enabled="true" />
        <add mimeType="application/json"          enabled="true" />
        <add mimeType="*/*"                       enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*"            enabled="true" />
        <add mimeType="message/*"         enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json"  enabled="true" />
        <add mimeType="image/svg+xml"     enabled="true" />
        <add mimeType="*/*"               enabled="false" />
      </staticTypes>
    </httpCompression>

    <!-- Global request filtering -->
    <security>
      <requestFiltering
        allowDoubleEscaping="false"
        allowHighBitCharacters="false"
        removeServerHeader="true"
      >
        <requestLimits
          maxAllowedContentLength="30000000"
          maxUrl="4096"
          maxQueryString="2048"
        />
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".asa"  allowed="false" />
          <add fileExtension=".asax" allowed="false" />
          <add fileExtension=".config" allowed="false" />
          <add fileExtension=".cs"   allowed="false" />
          <add fileExtension=".vb"   allowed="false" />
          <add fileExtension=".mdb"  allowed="false" />
          <add fileExtension=".sql"  allowed="false" />
          <add fileExtension=".log"  allowed="false" />
        </fileExtensions>
        <verbs allowUnlisted="true">
          <add verb="TRACE"   allowed="false" />
          <add verb="OPTIONS" allowed="false" />
        </verbs>
        <hiddenSegments>
          <add segment=".git"      />
          <add segment=".env"      />
          <add segment=".htaccess" />
          <add segment="web.config" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Cache profiles -->
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="1.00:00:00" />
        <add extension=".css"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="7.00:00:00" />
        <add extension=".js"   policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="7.00:00:00" />
        <add extension=".png"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".jpg"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".gif"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".ico"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="30.00:00:00" />
      </profiles>
    </caching>

  </system.webServer>

</configuration>
